:root {
	--Brand: #2977EC;
	--BrandDark: #07456C;
	--BrandMediumDark: #1356BA;
	--BrandLight: #E4F7FE;
	--Grey: #606266;
	--LighterGrey: #e8e8e8;
	--LightGrey: #A4A8B2;
	--DarkGrey: #3F4247;
	--Black: #303133;
	--White: #fff;
	--Yellow: #FFD24D;
	--AppleRed: #F56C6C;
	--AppleGreen: #7FDF7D;
	--TransparentBlack:rgba(0, 0, 0, 0.25);
	--TransparentWhite: rgba(255, 255, 255, 0.70);
}

div, p, button {
    outline: none;

    :focus {
        outline: none;
    }
}

// test

html {
    height: 100vh;
}


div[class*='react-datepicker'] {
    div[class*='react-datepicker__month-container'] {
        padding: 10px 20px;
    }
    div[class*='react-datepicker__header'] {
        background-color: var(--White);
    }

    div[class*='react-datepicker__current-month'] {
        color: var(--Brand);
        font-size: 16px;
        font-weight: bold;
    }

    div[class*='react-datepicker__day--selected'] {
        color: var(--Brand);
        background-color: var(--White);
    }

    button[class*='react-datepicker__navigation'] {
        top: 15px;

        span::before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 14px 14px 0;
            border-color: transparent var(--Brand) transparent transparent;
        }
    }

    button[class*='react-datepicker__navigation--previous'] {
        left: 32px;
    }

    button[class*='react-datepicker__navigation--next'] {
        right: 32px;
    }
}

span[class*='bp5-slider-handle'] {
    border-radius: 50%;
}